<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sryang.feed_detail">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TorangDetailTimeLineTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="코멘트 테스트"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ItemWriteCommentActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ItemFeedDetailHeaderActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ItemCommentActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".CommentFragmentActivity"
            android:exported="true" />

        <activity
            android:name="com.sarang.feed_detail.ui.TimeLineDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>